body {
    font-family: 'Lato', sans-serif;
}

/* header */

.header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: firebrick;
    height: 60px;
}

.header-nav-center {
    width: 96%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    text-align: center;
}


.fitness-icon {
    display: flex;
    flex-direction: row;
    width: 15%;
    padding: 20px;
}

.icon {
    height: 30px;
    padding: 10 px;
}

h1 {
    display: flex;
    color: white;
}

.nav-header {
    display: flex;
    justify-content: center;
    width: 60%;
    justify-content: space-around;
    font-size: 24px;
}

a {
    color: white;
    text-decoration: none;

}

a:hover {
    color: black;
}

.button_login {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(178, 34, 34);
    font-size: 24px;
    border-color: white;
    border-width: 4px;
    border-radius: 5px;
}

.combo-button {
    display: flex;
    justify-content: space-around;
    width: 15%;
}

.combo-button:first-child {
    margin-right: 10px;

}

/*main*/

.burger-icon {
    height: 0px;
}

.basis-elements {
    display: flex;
    flex-direction: row;
}

.left-menu-pannel {
    width: 15%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.gif-loading {
    text-align: center;
}

.load-img {
    height: 50px;
}

.main {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.article_header2 {
    font-family: "Lato", sans-serif;
    text-align: center;
    font-size: 64px;
    margin: 10px;
    margin-top: 20px;
}

.short-about {
    text-align: justify;
    padding: 10px;
    margin: 0px;

}

.main-img {
    align-self: center;
    width: 100%;
    padding: 10px;
}

.right-side {
    width: 15%;
    padding-left: 10px;
}

/*footer*/

footer {
    text-align: center;
}

input#burger {
    display: none;
}

@media (max-width: 768px) {
    .basis-elements {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 768px;
    }

    .header-nav {
        width: 100%;
        height: 40px;
    }

    .header-nav-center {
        width: 768px;
        height: 40px;
    }

    .fitness-icon {
        width: 20%;
        padding: 5px;
    }

    .icon {
        height: 25px;
        padding: 5 px;
        align-self: center;
    }

    h1 {
        font-size: 14px;
    }

    .nav-header {
        width: 60%;
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
    }

    a:hover {
        color: black;
    }

    .button_login {
        font-size: 14px;
        border-width: 3px;
        border-radius: 3px;
    }

    .combo-button {
        display: flex;
        justify-content: space-around;
        width: 20%;
    }

    .combo-button:first-child {
        margin-right: 10px;


    }

    .basis-elements {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .left-menu-pannel {
        width: 90%;
        padding-right: 10px;
        font-size: 20px;
        text-align: left;
        flex-direction: row;

    }

    .load-img {
        width: 30px;
        height: 30px;
        display: flex;
        align-self: center;
        padding: 20px;

    }

    .article_header2 {
        font-family: "Lato", sans-serif;
        text-align: center;
        font-size: 48px;
        margin: 10px;
        margin-top: 20px;
    }

    .short-about {
        text-align: justify;
        padding: 10px;
        margin: 0px;
        font-size: 16px;
        line-height: 25px;
    }

    .main-img {
        align-self: center;
        width: 100%;
        padding: 10px;
    }

    .right-side {
        width: 90%;
        padding-left: 10px;
    }

    footer {
        text-align: center;
        width: 99%;
    }

}

@media screen and (max-width: 480px) {
    .header-nav-center {
        width: 98%;
        justify-content: center;

    }

    .fitness-icon {
        align-self: flex-start;
        text-align: center;
        flex-direction: row;
        font-size: 12px;
        width: 50%;

    }

    .header-nav {
        flex-direction: column;
        position: fixed;
    }

    .nav-header {
        width: 480px;
        flex-direction: column;
        margin: 33px;
    }

    .button_login {
        font-size: 10px;
        border-width: 3px;
        border-radius: 3px;
        margin-right: 20px;
    }

    .combo-button {
        display: flex;
        justify-content: right;
        text-align: right;
        justify-self: flex-end;
        width: 50%;
    }

    .left-menu-pannel {
        width: 90%;
        padding-right: 10px;
        margin-top: 30px;
    }

    #burger,
    [for=burger] {
        display: flex;
    }

    [for=burger] {
        display: block;
        position: fixed;
        width: 25px;
        font-size: 20px;
        text-align: center;
        right: 0px;
        top: 10px;
        color: white;
        background-color: rgba(178, 34, 34, 0.682);

    }

    [for=burger]::before {
        content: "\2261";

    }

    /*hide menu pannel:*/

    burger:checked+[for=burger]::before {
        content: "\2261";
    }

    .nav-header {
        display: none;
        position: fixed;
        top: 0;
        margin-top: 30px;
        background: rgba(178, 34, 34, 0.682);
        width: 100%;
        user-select: none;

    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    /*these element are neighbourhoods and this will show us content burger*/
    #burger:checked+label+nav {
        display: flex;


    }
}

/*PILATESS*/
.main-float {
    width: 100%;
    display: block;
}

.pilatess-about {
    width: 70%;
    position: reative;
    float: left;
}

section>h1 {
    display: block;
    color: black;
    width: 70%;
    text-align: left;
    padding: 10px;
    margin-left: 20px;

}

.left-text-float {

    position: relative;
    width: 99%;
    font-size: 24px;
    text-align: justify;
    padding: 10px;
    margin: 0px 0px;

}

.img-pilatess-studio {
    width: 99%;
    padding: 10px;

    position: relative;
}

.float-right-pannel {
    position: relative;
    width: 29%;
    float: right;
    height: 100%;
    background-color: rgba(165, 42, 42, 0.189);
}

.trainers-float {
    position: relative;
    width: 30%;
}

.float-right-pannel>h2 {
    display: block;
    width: 100%;
    text-align: center;
}

.float-right-pannel>h2>p {
    display: block;
    width: 28%;
    text-align: justify;
}

.text-right-pannel {
    text-align: justify;
    padding: 10px;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}

.img-right-pannel {
    display: block;
    width: 90%;
    padding: 20px;
}

.float-footer {
    position: relative;
    display: block;
    height: 20px;
    width: 100%;

}

/*YOGA*/
/*ZUMBA*/
/*ABOUT*/
/*PRICE*/