.grid-area {
    display: grid;
    grid-template-areas:
        "el1 el1"
        "el3 el2"
        "el3 el2"
        "el4 el5";
    grid-gap: 5px;
    grid-row: 10px;
    grid-template-columns: 50% 50%;
}

.element-1 {
    grid-area: el1;
    background-image: url(./img/yoga-carpet.jpg);
    grid-auto-rows: 500px;
}

.element-1>img {
    width: 100%;
}

.element-2 {
    grid-area: el2;
    margin-left: 10px;

}

.element-2_h2 {
    text-align: center;
    color: rgb(165, 42, 42);

}

.blockquote-6 {
    border-left: 6px solid rgba(165, 42, 42, 0.189);
    font-size: 24px;
    font-style: italic;
    margin: 26px;
    padding: 16px 24px;
    position: relative;
}

.blockquote-6:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -6px;
    height: 40px;
    background-color: #fff;
    width: 6px;
    margin-top: -1em;
}

.blockquote-6:after {
    content: "â€";
    position: absolute;
    top: 50%;
    left: -20px;
    color: rgb(165, 42, 42);
    font-size: 50px;
    font-family: Times, sans-serif;
    font-weight: bold;
    line-height: 30px;
}

.blockquote-6 cite {
    color: rgb(165, 42, 42);
    font-size: 15px;
    padding-top: 10px;
    display: block;
    text-align: right;
}

.element-3 {
    grid-area: el3;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;
    width: 100%;
}

.element-3_header2 {
    margin: 5px;
}

.element-3_text {
    margin: 20px;
}

.element-4 {
    grid-area: el4;

}

.element-4>img {
    display: block;
    width: 100%;

    object-fit: cover;
}

.element-5 {
    grid-area: el5;
}

.element-5>img {
    display: block;
    width: 100%;
    justify-content: center;
    object-fit: cover;
}

@media (max-width:768px) {
    .grid-area {
        display: grid;
        grid-template-areas:
            "el1 el1"
            "el3 el3"
            "el2 el2"
            "el4 el5"
        ;
        grid-gap: 5px;
        grid-row: 10px;
        grid-template-columns: 50% 50%;
    }

    .element-4>img {
        display: block;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .element-5>img {
        display: block;
        width: 100%;
        height: 400px;
        justify-content: center;
        object-fit: cover;
    }
}

@media (max-width:480px) {
    .element-1>img {
        width: 100%;
        margin-top: 40px;
    }

    .element-3_header2 {
        text-align: center;
    }

    .blockquote-6 {
        position: static;
    }

    .blockquote-6:after {
        content: "";
        position: static;
        top: 50%;

    }

    .blockquote-6:before {
        position: static;
    }

    .blockquote-6 cite {
        position: static;
    }

    .element-4>img {
        display: block;
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .element-5>img {
        display: block;
        width: 100%;
        height: 200px;
        justify-content: center;
        object-fit: cover;
    }
}